/* AdvisoriesComponent's private CSS styles */

.advisories-component-container {
  display: flex;
}

.attacks {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 25em;
  padding-top: 15px;
}
.attacks li {
  position: relative;
  cursor: pointer;
  background-color: #3E4252;
  margin: .5em;
  padding: .26em 0;
  height: 1.6em;
  border-radius: 4px;
}

.attacks li:hover {
  color: #607D8B;
  background-color: #8eaac5;
  left: .1em;
}

.attacks a {
  color: white;
  text-decoration: none;
  position: relative;
  display: block;

}

.attacks a:hover {
  color:#607D8B;
}

.attacks .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.advisories{
  margin-left: 15px;
  height: 640px;
  overflow-y: auto;
}
.span-count{
  display: inline-block;
  padding-bottom: 5px;
  color: green;
  font-weight: bold;
}

/* Styles for table */
body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}


table {
  font-family: arial, sans-serif;
  overflow: hidden;
  display: table;
  border-collapse: collapse;
  border-color: grey;
  width: 100%;
  background: #fff;
  color: #4e5b9e;

}

table tr{
  border-color: #46637f;
 border:1px solid grey;
}

td, th {
  text-align: left;
  padding: 8px;

}



tr:hover {
  background-color: #8eaac5;
}
